body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inconsolata', monospace;
}

.korean {
  font-family: 'Gamja Flower', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-box {
  width: 100%;
  height: 20em;

  box-sizing: border-box;

  border: 1px solid #ebedf0;
  border-radius: 2px;

  padding: 1em;
}

.info-box .title {
  width: 100%;
  height: 2em;
  line-height: 2em;

  text-transform: uppercase;
  font-weight: bold;
}

.info-box .content {
  widows: 100%;
  height: 16em;
}

.ellipsis:hover {
  cursor: pointer;
}
